@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --color1: #18191d;
    --color2: #1252d1;
    --color3: #97a2b8;
    --color4: #1e273b;
    --color5: #6b7282;

    --font1: 'Libre Baskerville', serif;
    --font2: 'Kanit', sans-serif;
}

.cheguei{
    color: white;
    font-family: var(--font2);
    margin: 20px;
    padding-bottom: 10px;
    border-bottom: 4px solid var(--color2);
}

body{
    background-color: var(--color1);
    
    
    
}
.inner{
    display: block;
    width: 88vw;
    margin: auto;
}

header{
    
    height: fit-content;
}
.introducao{
    display: inline-block;
    transform: translate(0px,-10vw);
    width: 45vw;
    font-family: var(--font2);
    color: white;
}
.introducao h1{
    text-shadow: 0px 0px 2px #18191d;
    font-size: 1.3em;
    padding-bottom: 5px;
}
.introducao p{
    color: white;
    font-size: 0.8em;
 
}


picture > .redes-sociais {
    margin-top: 20px;
    text-align: center;
}

.redes-sociais > a > svg:hover{
    stroke: #0f3e9b;
}

svg.icon {
    width: 22%;
    height: 22%;
}

picture{
    display: inline-block;
    position: static;
    width: 30vw;
    height: 30vw;
    border: 3px solid var(--color2);
    border-radius: 50%;
    padding: 5px;
    box-shadow: 1px 1px 3px #2e3138;
    margin: 10px;
    
    
}

picture > div.imagem-eu{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background: black url(../images/EU.png) no-repeat center center;
    background-size: contain;
}


span#burguer{
    padding-top: 5px ;
    cursor: pointer;
}
#burguer{
    color: white;
    width: 88vw;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    
}


menu a{
    font-family: var(--font2);
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 5px;
}
#itens{
    display: none;
    margin-bottom: 20px;
}

menu a:hover{
    
    border-bottom: 1px solid var(--color2);
    transition: 0.5s;
}
li{
    text-align: center;
    padding: 8px 0px;
    list-style: none;
}
.decoracao{
    height: 5px;
    margin: auto;
    border-bottom: 2px solid var(--color2);
}
h2{
    color: white;
    font-family: var(--font2);
    margin: 10px 30px;
    width: fit-content;
    border-bottom: 1px solid #6b7282;
    text-shadow: 0px 0px 1px black;
}

.icon-tec{
    color: var(--color2);
    font-size: 4em;
    margin-bottom: 10px;
    
}
.content{
    font-family: var(--font2);
    color: white;
    display: inline-block;

}
.icon-tec svg {
    width: 0.9em;
    height: 1em;
}
#tecnologia{
    border-bottom: 2px solid var(--color2);
}
article{
    margin: 30px 0px;
}
#projetos> article{
    display: inline-block;
    
}

.decoracao2{
    border-bottom: 2px solid var(--color3);
}
#projetos> article {
    text-align: center;
}
#projetos> article > .content{
    text-align: left;
    margin-top: 30px;
}

#projetos> article > a > img.frog{
    width: 323px;
    
}
#projetos> article > a > img:hover{
    -moz-transform: scale(1.075);
    -webkit-transform: scale(1.075);
    -ms-transform: scale(1.075);
    transform: scale(1.075);
}

#projetos> article > a > img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgba(15, 23, 51, 0.486);
    
}

#mais{
    width: 100%;
    margin-top: -5px;
    font-family: var(--font2);
    text-align: center;
    margin-bottom: 20px;
}

#mais > a > input{
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: var(--color2);
    border: 2px solid #0f3e9b;
    border-radius: 8px;
    padding: 5px 10px;
    font-family: var(--font2);
    font-weight: bold;
    font-size: 0.8em;
    cursor: pointer;
    
}
#mais > a > input:hover{
    background-color: white;
    color: #0f3e9b;
    transition: 0.3s;
}

footer{
    background-color: var(--color4);
    padding: 20px;
    font-family: var(--font2);
    
}
footer p{
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
    color:var(--color3);
}
article.sobreMim{
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
    background-color: #1e273b4f;
    box-shadow: 2px 2px 2px var(#1e273bdc);
}
article.sobreMim > .content{
    display: block;
    margin: auto;
}
article.sobreMim > .content >p{
    width: 60vw;
    display: block;
    margin: auto;
    text-align: center;
} 

article.sobreMim > .content::before{
    content: '';
    display: block;
    width: 40vw;
    height: 40vw;
    background: url(../images/fotoSobreMim.jpeg) no-repeat center center;
    background-size: cover;
    margin: auto;
    border-radius: 30px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.497);
    margin-top: 20px;
    margin-bottom: 20px;

}
 