@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --color1: #18191d;
    --color2: #1252d1;
    --color3: #97a2b8;
    --color4: #1e273b;
    --color5: #6b7282;

    --font1: 'Libre Baskerville', serif;
    --font2: 'Kanit', sans-serif;
}

.cheguei{
    color: white;
    font-family: var(--font2);
    margin: 20px;
    padding-bottom: 10px;
    border-bottom: 4px solid var(--color2);
}

body{
    background-color: var(--color1);
    
    
    
}
.inner{
    display: block;
    width: 88vw;
    margin: auto;
}

header{
    
    height: fit-content;
}
.introducao{
    display: inline-block;
    transform: translate(0px,-30px);
    width: 45vw;
    font-family: var(--font2);
    color: white;
}
.introducao h1{
    text-shadow: 0px 0px 2px #18191d;
    font-size: 1.3em;
    padding-bottom: 5px;
}
.introducao p{
    color: white;
    font-size: 0.8em;
 
}


picture > .redes-sociais {
    margin-top: 20px;
    text-align: center;
}

.redes-sociais > a > svg:hover{
    stroke: #0f3e9b;
}



picture{
    display: inline-block;
    position: static;
    width: 30vw;
    height: 30vw;
    border: 3px solid var(--color2);
    border-radius: 50%;
    padding: 5px;
    box-shadow: 1px 1px 3px #2e3138;
    margin: 10px;
    
    
}

picture > div.imagem-eu{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background: black url(../images/EU.png) no-repeat center center;
    background-size: contain;
}


span#burguer{
    padding-top: 5px ;
    cursor: pointer;
}
#burguer{
    color: white;
    width: 88vw;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    
}


menu a{
    font-family: var(--font2);
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 5px;
}
#itens{
    display: none;
}

menu a:hover{
    background-color: var(--color4);
    border-radius: 10px;
}
li{
    text-align: center;
    padding: 8px 0px;
}
.decoracao{
    height: 5px;
    margin: auto;
    border-bottom: 2px solid var(--color2);
}
h2{
    color: white;
    font-family: var(--font2);
    margin: 10px 30px;
    width: fit-content;
    border-bottom: 1px solid #6b7282;
    text-shadow: 0px 0px 1px black;
}

.icon-tec{
    color: var(--color2);
    font-size: 4em;
    margin-bottom: 10px;
    
    
}
.content{
    font-family: var(--font2);
    color: white;

}
article > svg{
    width: 4em;
    height: 4em;
}
#tecnologia{
    border-bottom: 2px solid var(--color2);
}
article{
    margin: 30px 0px;
}
#projetos> article{
    display: inline-block;
    
}

.decoracao2{
    border-bottom: 2px solid var(--color3);
}
#projetos> article > img{
    width: 100%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgba(15, 23, 51, 0.486);
}
#mais{
    width: 100%;
    margin-top: -5px;
    font-family: var(--font2);
}
#mais a{
    color: white;
    text-decoration: none;
    font-size: 1.7em;
    text-align: center;

}
#mais a:hover{
    color: var(--color5);
    text-decoration: underline;
}

footer{
    background-color: var(--color4);
    padding: 20px;
    font-family: var(--font2);
    
}
footer p{
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
    color:var(--color3);
}